mat-toolbar{
    justify-content:flex-start;
    padding-left: 100px;

}

mat-toolbar span{
    font-size: 50px;
    font-weight: 300;
}
img{
    display: flex;
    width: 90px;
    height: 60px;
    padding: 14px 34px;
}
