mat-toolbar{
    display: flex;
    align-items: center;
    justify-content:center;
}

mat-toolbar span{
  font-size: 50px;
  font-weight: 250;
  padding-right: 80px;
}

img{
    display: flex;
    width: 90px;
    height: 60px;
    justify-content: flex-start;
}
