.mat-table{
    overflow: auto;
    max-height: 200px;
    margin-top: 10px;

}

.actions-column{
    flex: 0 0 75px;
}

.actions-column-header{
    flex: 0 0 55px;
}

.mat-header-cell {
    display: flex;
    font-size: 35px;
    font-weight: 250;
}
